body {
    margin: 0px;    
    font-size: 10pt;
    color: #514c4c;
    font-family: 'Open Sans', sans-serif;
    background-color: #fffcf2;
}

h1 {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 45pt;
    color: #919ba1;
    margin-bottom: 20px;
    padding-top: 20px;
}

h2 {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 30pt;
    color: #919ba1;
    margin-bottom: 10px;
}

h3 {
    font-size: 11pt;
    margin-bottom: 5px;
}

hr {
    
}

.hidden {
    display: none;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    font-weight: bold;
}

.center {
    text-align: center;
}

.clear {
    clear: both;
}

a {
    text-decoration: none;
    color: #514c4c;    
}

a:hover {
    font-weight: bold;
}

.centralLayer {
        margin: 0px auto;
        z-index:1;
}

.column {
    max-width: 900px;
    width: 100%;
}

.panel {
    padding-bottom: 40px;
    background-repeat: no-repeat;    
}

.line {
    width: 100%;
    height: 4px;
    background-image: url(pict/linie_kropek.svg);
    margin-bottom: 10px;
}

.sliderContainer {
/*    max-height:200px; */
}

.slidesjs-navigation {
    display: none;
}

.sign {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 14pt;
    color: #919ba1;
    text-align: right;
}

nav {
    width:100%;
    height:40px;
    line-height: 40px;
    text-align:center;
    background-color: #919BA1;
}

nav a {
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    font-size: 16pt;
}

.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    border-top: 0;
}

.foot {
    margin-top: 20px;
    font-size: 11pt;
}

.left {
    float: left;
}

.rightAlign {
    text-align: right;
}

footer {
    margin-top: 180px;
    margin-bottom: 20px;
    font-size: 8pt;
}

#logos {
    float:left;
    margin-right: 20px;
}

#child {
    float: right
}

#smallStories {
    background-image: url(pict/kropki.svg);
    background-position: center 0px;
}

.slideShow {
    width: 100%;
    margin-top: 30px;
}

#wardrobe {
    padding-right: 20px;
    padding-top: 20px;
}

.movieContainer {
    width: 100%;
    max-width: 1100px;
    position: relative;
}

#secondSlider {
    position: relative;
}

.sliderArrows {
    top: 180px;
    position: absolute;
    z-index: 105;
}

.sliderLeft {
    margin-left: 0px;
    left: 0px;
}

.sliderRight {
    margin-right: 0px;
    right: 0px;
}

.sliderLeft:hover {
    margin-left: -2px;
}

.sliderRight:hover {
    margin-right:-2px;
}

